.navigation {
  position: sticky;
  top: 0;
  background-color: var(--background-color-dark);
  color: var(--text-color-secondary);
  ul {
    display: flex;
    justify-content: center;
    li {
      a {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        &:hover {
          transition: var(--animation-speed);
          color: var(--text-orangered);
          background-color: var(--color-animate-2);
        }
      }
    }
  }
}
