.navigation {
  position: sticky;
  top: 0;
  background-color: var(--background-color-dark);
  color: var(--text-color-secondary);
  z-index: 10;
  ul {
    display: flex;
    justify-content: center;
    li {
      a {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        &:hover {
          transition: var(--animation-speed);
          color: var(--text-orangered);
          background-color: var(--color-animate-2);
        }
      }
    }
  }
  .logo {
    cursor: pointer;
  }

  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
  }

  @include keyframes(blink) {
    0% {
      color: transparent;
    }
    50% {
      color: var(--text-orangered);
    }
  }

  .cursor {
    font-size: 30px;
    animation: blink 1s step-end infinite;
  }
}
